.container{
    margin-top: 20px;
}
.addnew{
    color: #EA932A;
}
table{
    width: 100%;
}
th, td {
    border-bottom: 1px solid #ddd;
}
button{
    border: none;
    background: none;
    color: rgb(206, 1, 1);
}
tr:nth-child(even) {background-color: #f2f2f2;}
