<ion-header>
        <ion-item>
          <ion-label>Mot de passe oublié</ion-label>
        </ion-item>
      </ion-header>
      <ion-content>
        <form [formGroup]="forgotForm" (ngSubmit)='onSubmit()'>
          <ion-item>
            <ion-label>Adresse mail :</ion-label>
            <ion-input type='email' formControlName="email"></ion-input>
          </ion-item>
    
          <ion-button type="submit" expand="block">Envoyer</ion-button>
        </form>
    
      
      </ion-content>