.container{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 3%;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    margin-top: 5%;
    font-size: 2rem;
    font-weight: bolder;
}