<ion-header>
    <ion-item>
        <ion-label>Dashboard</ion-label>
    </ion-item>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Menu</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <a routerLink='/newmenu' class="card-link">Ajouter un menu</a>
                </ion-item>
                <ion-item>
                    <a routerLink='/menus' class="card-link">Tous les menus</a>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Plats</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <a routerLink='/newmeal' class="card-link">Ajouter un plat</a>
                </ion-item>
                <ion-item>
                    <a routerLink='/meals' class="card-link">Tous les plats</a>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Ingrédients</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <a routerLink='/newingredient' class="card-link">Ajouter un ingrédient</a>
                </ion-item>
                <ion-item>
                    <a routerLink='/ingredients' class="card-link">Tous les ingrédients</a>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Commandes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <a routerLink='/commandes' class="card-link">Afficher les commandes</a>
                </ion-item>
                <ion-item>
                    <a routerLink='/constraintedit' class="card-link">Gérer mes contraintes</a>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Utilisateurs</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <a routerLink='/users' class="card-link">Tous les utilisateurs</a>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>